<div id="quotes" class="transitions-enabled">
	<% @quotes.each do |quote| %>
		<div class="box panel panel-default">
			<%= image_tag quote.image.url(:medium) %>
			<div class="panel-body">
				<%= quote.season %>
				<%= quote.episode %>
				<%= quote.character %>
				<%= quote.description %>
				<%= quote.user.email if quote.user %>
				<%= link_to 'Show', quote %>
					<% if quote.user == current_user %>
						<%= link_to 'Edit', edit_quote_path(quote) %>
						<%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %>
					<% end %>
				</div>
		</div>
	<% end %>
</div>